<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Init</display-name>
    <servlet-name>Init</servlet-name>
    <servlet-class>packsuper.Init</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Init</servlet-name>
    <url-pattern>/Init</url-pattern>
  </servlet-mapping>
  <display-name>projetSupermarche</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>packsuper.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Anonymous</display-name>
    <servlet-name>Anonymous</servlet-name>
    <servlet-class>packsuper.Anonymous</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Anonymous</servlet-name>
    <url-pattern>/Anonymous</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AdminFilter</display-name>
    <filter-name>AdminFilter</filter-name>
    <filter-class>packsuper.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/Admin/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>packsuper.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutArticle</display-name>
    <servlet-name>AjoutArticle</servlet-name>
    <servlet-class>packsuper.AjoutArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutArticle</servlet-name>
    <url-pattern>/AjoutArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifArticle</display-name>
    <servlet-name>ModifArticle</servlet-name>
    <servlet-class>packsuper.ModifArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifArticle</servlet-name>
    <url-pattern>/ModifArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleSup</display-name>
    <servlet-name>ArticleSup</servlet-name>
    <servlet-class>packsuper.ArticleSup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleSup</servlet-name>
    <url-pattern>/ArticleSup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleModif</display-name>
    <servlet-name>ArticleModif</servlet-name>
    <servlet-class>packsuper.ArticleModif</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleModif</servlet-name>
    <url-pattern>/ArticleModif</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticleAjout</display-name>
    <servlet-name>ArticleAjout</servlet-name>
    <servlet-class>packsuper.ArticleAjout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleAjout</servlet-name>
    <url-pattern>/ArticleAjout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Panier</display-name>
    <servlet-name>Panier</servlet-name>
    <servlet-class>packsuper.Panier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Panier</servlet-name>
    <url-pattern>/Panier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PanierAjout</display-name>
    <servlet-name>PanierAjout</servlet-name>
    <servlet-class>packsuper.PanierAjout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PanierAjout</servlet-name>
    <url-pattern>/PanierAjout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PanierSup</display-name>
    <servlet-name>PanierSup</servlet-name>
    <servlet-class>packsuper.PanierSup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PanierSup</servlet-name>
    <url-pattern>/PanierSup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Magasin</display-name>
    <servlet-name>Magasin</servlet-name>
    <servlet-class>packsuper.Magasin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Magasin</servlet-name>
    <url-pattern>/Magasin</url-pattern>
  </servlet-mapping>
</web-app>